Greengrocer/Greengrocery.FullClient/Connected Services/GreengroceryService/GreengroceryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Greengrocery.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Greengrocery.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfproductsGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productsGrocery" nillable="true" type="tns:productsGrocery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfproductsGrocery" nillable="true" type="tns:ArrayOfproductsGrocery" />
  <xs:complexType name="productsGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforders" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="product_id" type="xs:int" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="productsGrocery" nillable="true" type="tns:productsGrocery" />
  <xs:complexType name="ArrayOforders">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="orders" nillable="true" type="tns:orders" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOforders" nillable="true" type="tns:ArrayOforders" />
  <xs:complexType name="orders">
    <xs:sequence>
      <xs:element minOccurs="0" name="customer_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="customersGrocery" nillable="true" type="tns:customersGrocery" />
      <xs:element minOccurs="0" name="employee_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="employeesGrocery" nillable="true" type="tns:employeesGrocery" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="product_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="productsGrocery" nillable="true" type="tns:productsGrocery" />
      <xs:element minOccurs="0" name="supplier_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="suppliersGrocery" nillable="true" type="tns:suppliersGrocery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="orders" nillable="true" type="tns:orders" />
  <xs:complexType name="customersGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" name="balance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforders" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customersGrocery" nillable="true" type="tns:customersGrocery" />
  <xs:complexType name="employeesGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee_id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforders" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="salary" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="employeesGrocery" nillable="true" type="tns:employeesGrocery" />
  <xs:complexType name="suppliersGrocery">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="orders" nillable="true" type="tns:ArrayOforders" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="supplier_id" type="xs:int" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="suppliersGrocery" nillable="true" type="tns:suppliersGrocery" />
</xs:schema>